.profile {

width: 200px; 
display: block; 
margin-left: 
auto; 
margin-right: auto; 
margin-top: 100px;
border-radius: 20px;

}

.name{
    font-size: 26px;
    text-align: center;
}

.job{
    text-align: center;
 
}

p{
    text-align: center;
    font-size: 22px;
    
}

.introduction{
    width: 400px;
    background-color: rgb(191, 230, 231);
    margin: 50px;
    padding: 30px;
    border: 1px solid white;
    color: white;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;

    
}

.container{
    width: 800px;

}

.header{
    width: 800px;
    height:50px;
    background-color: rgb(139, 173, 236);
}

.left{
    width: 20%;
    height: 500px;
    background-color: #f3f395;
    float: left;
}
.right{
    width: 80%;
    height: 500px;
    background-color: rgb(232, 241, 217);
    float:left;
}

.footer{
    width: 100% ;
    height: 50px;
    background-color: darkgrey;
    clear:both;
}